<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
<!--    <style>-->


<!--        body {-->
<!--            font-family: Arial, sans-serif;-->
<!--            background-color: #f0f0f0;-->
<!--        }-->

<!--        h2 {-->
<!--            color: #008080;-->
<!--        }-->

<!--        input {-->
<!--            margin-bottom: 10px;-->
<!--            padding: 5px;-->
<!--            border: 10px solid #ccc;-->
<!--            border-radius: 13px;-->
<!--        }-->

<!--        input[type="submit"] {-->
<!--            background-color: #008080;-->
<!--            color: #fff;-->
<!--            cursor: pointer;-->
<!--        }-->

<!--    </style>-->
</head>
<body>
<h2>LOGIN FORM</h2>
<form action='login' method="post">
    {% csrf_token %}

    <input type="text" name="username" placeholder="enter username"><br><br>
    <input type="password" name="password" placeholder="enter your password"><br><br>
    <input type="submit">
</form>
    {% for msg in messages %}
    {{ msg }}
    {% endfor %}
</body>
</html>
